@font-face {
    font-family: doom;
    src: url('./font/AmazDooMRight.ttf');
}
@font-face {
    font-family: doomSub;
    src: url('./font/doOmzday.ttf');
}
@font-face {
    font-family: silentHill;
    src: url('./font/SLNTHLN.TTF');
}
@font-face {
    font-family: jacket;
    src: url('./font/discoduckv2.ttf');
}

/*Variavel*/
.silent:root{
    --font-family-title: silentHill;
    --font-family-geral: silentHill;
    --background-linear: linear-gradient(90deg, rgba(38, 42, 65, 0.76), rgba(0, 0, 255, 0));
    --background-hover: rgba(42, 42, 78, 0.61);
}
.doom:root{
    --font-family-title: doom;
    --font-family-geral: doomSub;
    --background-linear: linear-gradient(90deg, rgb(172, 0, 0), rgba(0, 0, 255, 0));
    --background-hover: rgba(87, 4, 4, 0.658);
}
.jacket:root{
    --font-family-title: jacket;
    --font-family-geral: jacket;
    --background-linear: linear-gradient(90deg, rgba(235, 50, 142, 0.76), rgba(0, 0, 255, 0));
    --background-hover: rgba(47, 4, 87, 0.658);
}

/*Reset*/
*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: var(--font-family-geral);
    overflow: hidden hidden;
}

/*Code*/
main{
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
main section{
    background-image: var(--background-linear);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 70%;
}
main div#me h1{
    font-size: 100px;
    font-family: var(--font-family-title);
    letter-spacing: 2px;
    margin: 10px 0px 0px 10px;
}
main div#me h2{
    font-size: 35px;
    margin: 0px 0px 0px 10px;
}
main ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 40%;
    flex:1;
}
main ul li{
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 10px;
    width: 90%;
    transition: 0.5s;
    &:hover{
        background-color: var(--background-hover);
    }
}
main ul li a{
    display: flex;
    align-items: center;
}
main ul li a i{
    font-size: 35px;
    margin: 10px;
}
main ul li a h3{
    font-size: 27px;
    margin: 10px;
}